body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

video {
  top: 10vh;
  height: 85vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  border-radius: 30px;
  border: white solid 2px;
  }

  .headline {
    font-family: FP Head Pro, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: white;
    font-size: clamp(35pt, 9vw, 70pt);
    line-height: 1;
  }

.img_header {
  height: 40vh;
  position: absolute;
  top: 10vh;
}

.body {
  font-family: agenda, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: clamp(8pt, 3vw, 12pt);
  line-height: 1;
}

.subHead {
  font-family: FP Head Pro, sans-serif;
  font-weight: 800;
  font-style: normal;
  color: white;
  font-size: 20pt;
  text-decoration: none;
}

.BG_container {
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: 0;
}

.home_container {
  position: absolute;
  top: 5vh;
}

/* .data_container {
  border: white solid 2px;
  position: fixed;
} */



/* top: 10vh;
height: 85vh;
left: 2.5vw;
width: 95vw;
object-fit: cover;
position: fixed;
border-radius: 30px;
border: white solid 2px; */